body{
    background-color: #A9AF7E;
    font-family: 'Hahmlet', serif;
    
}
.container {
    margin-left: 0.875rem;
    margin-right: 0.875rem;
}
header {
    position: fixed;
    background: white;
    color: #557153;
    text-align: center;
    align-items: center;
    font-size: 20px;
    left: 0;
    right: 0;
    top: 0;
}
nav {
    height: 50px;
}
.title{
    margin-top: 0px;
}
.introgroup{
    margin-top: 30px;
}
.Introduction1{
    color: whitesmoke;
    margin-left: 200px;
    margin-top: 70px;
    font-size: 3rem;
}
p{
    color: whitesmoke;
    margin-left: 200px;
}
.img1{
    width: 445px;
    height: 284px;
    float: right;
    margin-right: 150px;
}
button{
    font-family: 'Hahmlet', serif;
    border: none;
    border-radius: 5%;
    margin-left: 200px;
    color: #557153;
    font-size: 30px;
}
@media (max-width: 800px) {
    .introgroup{
        margin-left: 10px;
    }
    header{
        text-align: left;
    }
    .Introduction1{
        margin-left: 0px;
        float: left;
    }
    p{
        margin-left: 0px;
        float: left;
    }
    .img1{
        width: 420px;
        height: 250px;
        margin-top: 5px;
        float: left;
    }
    button{
        margin-left: 0px;
        float: left;
    }
}
@media (max-width: 400px){
    .img1{
        width: 300px;
        height: 200px;
    }
    .introgroup{
        margin-top: 0px;
    }
}
